@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

/*
* Обнуление
*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

body{
    background-color: #1A1A1A;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #A6A6A6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,
h6 {
	font-weight:normal;
}


.title::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 32px;
    font-size: 36px;
    line-height: 250%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    color: #D9D9D9;
}
.title {
    position: relative;
    font-weight: 900;
    font-size: 100px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    color: #303030;
}

.btn {
    display: inline-block;
    border-radius: 43px;
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 0.2em;
    padding: 25px 57px;
    transition: all .3s;
    background: #262626;
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid #303030;
}
.btn:hover{
    background: #34C759;
    color: #1A1A1A;
}
.btn--green {
    background: #34C759;
    border: 0;
    color: #1A1A1A;
}
.btn--green:hover {
    opacity: .7;
}

.line--green{
    background: #34C759;
    height: 2px;
    width: 60px;
    transition: all 1s;
}
.main{
    flex: 1 1 auto;
}


/*
* Header
*/



.header {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    mix-blend-mode: normal;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 91px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
}
.header__logo-img {
}
.header__menu {
    display: flex;
}
.header__menu-item {
    margin-right: 45px;
    font-weight: 700;
    font-size: 14px;
    line-height: 90px;
    color: white;
    transition: all .3s;
}
.header__menu-item:last-child{
    margin-right: 0;
}
.header__menu-link {
}
.header__menu-link:hover{
    color: #34C759;
    opacity: .7;
}




/*
* Food
*/



.food {
    z-index: 2;
    min-height: 1080px;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.food__container {
    text-align: center;
    padding-top: 171px;
}

.food__title {
    font-size: 72px;
    line-height: 116%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.food__title span{
    font-weight: bold;
}

.food__text {
    margin: 0 auto;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
    max-width: 590px;
    margin-bottom: 40px;
}
.food__btn {
    margin-bottom: 70px;
}

.food__cards {
    display: flex;
    text-align: center;
}
.food__card {
    flex: 1 1 33.3333%;
    transition: all .3s;
}
.food__card a:hover{
    text-decoration: underline;
    color: #34C759;
}
.food__card-icon {
    margin-bottom: 13px;
}
.food__card-title {
    color: #FFFFFF;
}
.food__card-text {
    font-size: 14px;
}










/*
* About
*/


.about {

    
}
.about__container {
    margin-top: -240px;
   
    
}
.about__main {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.about__title{
    margin-bottom: 16px;
}


.about__title::after {
    content: 'The Basics Of Healthy Food';
}
.about__text {
    margin: 0 auto;
    max-width: 734px;
    color: #A6A6A6;
    margin-bottom: 90px;
}
.about__slider {
    text-align: center;
    position: relative;

}
.slider__main{
    min-height: 231px;
}

.slider__slide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    height: 230px;
    
    
}
.slider__img{
    width: 100%;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.hidden{
    display: none;
}
.slider__arrow-left{
    position: absolute;
    top: 30%;
    left: 10%;
}
.slider__arrow-right{
    position: absolute;
    top: 30%;
    right: 10%;
}

.slider__arrow-left:hover, .slider__arrow-right:hover{
    opacity: .7;
    cursor: pointer;
}
.slider__arrow-left:active, .slider__arrow-right:active{
    opacity: .3;
}



/*
* Work
*/



.work {
}
.work__container {
    text-align: center;
    padding-top: 90px;
}

.work__title {
    margin-bottom: 30px;
}
.work__title::after{
    content: 'how it works';
}

.work__line {
    margin: 0 auto;
    margin-bottom: 60px;
}
.work__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.work__card {
    text-align: left;
    max-width: 255px;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 24px 24px 60px 24px;
    transition: all .5s;
}
.work__card:hover{
    background: #34C759;
    cursor: pointer;
}

.work__card-title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.275px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.work__card:hover .work__card-title, .work__card:hover .work__card-text{
    color: #191919;
}
.work__card:hover .work__card-line{
    background: #191919;
    width: 80%;
}

.work__card-line {
    margin-bottom: 24px;
}
.work__card-text {
    font-size: 13px;
}



/*
* Dishes
*/


.dishes {
    margin-bottom: 90px;
}
.dishes__container {
    padding-top: 120px;
}
.container {
}
.dishes__title{
    margin-bottom: 30px;
}
.dishes__line{
    margin: 0 auto;
    margin-bottom: 60px;
}
.dishes__title::after {
    content: 'Dish Of The Day';
}
.title {
}
.dishes__line {
}
.dishes__cards {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
}
.dishes__card {
    max-width: 100%;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all .3s;
}
.dishes__card:hover .dishes__card-title{
    cursor: pointer;
}
.dishes__card:hover{
    transform: scale(1.05);
}
.dishes__card-image {
    border-radius: 8px 8px 0 0;
    max-width: 350px;
    max-height: 260px;
    overflow: hidden; 
}
.dishes__card-img {
    max-width: 100%;
    transition: 1s;
    display: block; 
}
.dishes__card-img:hover{
    transform: scale(1.2);
}
.dishes__card-main {
    padding: 30px;

}
.dishes__card-title {
    font-size: 32px;
    line-height: 30px;
    color: #D9D9D9;
    margin-bottom: 3px;
}
.dishes__card-desk {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;
    color: #A4A8B2;
    margin-bottom: 20px;
}
.dishes__card-text {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1625px;
    color: #85878C;
    margin-bottom: 30px;
}


.dishes__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dishes__rating-stars {
    position: relative;
    font-size: 20px;
    display: inline-block;
}
.dishes__rating-stars::before{
    content: "★★★★★";
    display: block;

}
.dishes__rating-items {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.dishes__rating-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
}
.dishes__rating-label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #4D4D4D;
}
.dishes__rating-label::before{
    content: "★";
    display: block;
    transition: color .3s ease 0;
}

.dishes__rating-item:checked,
.dishes__rating-item:checked ~ .dishes__rating-label{
    color: #F9AD3D;
}


.dishes__rating-label:hover,
.dishes__rating-label:hover ~ .dishes__rating-label,
.dishes__rating-label:checked ~ .dishes__rating-label:hover{
    color: #F9AD3D;
}


.dishes__rating-value {
}
.dishes__card-btn {
    font-size: 10px;

    border-radius: 30px;
    padding: 16px 32px;
}
.btn {
    
}



/*
* Chefs
*/



.chefs {
    margin-bottom: 120px;
}
.chefs__container {
}
.container {
}
.chefs__title::after{
    content: "This month's chefs";
}
.chefs__title {
    margin-bottom: 30px;
}
.title {
}
.chefs__line {
    margin: 0 auto;
    margin-bottom: 60px;
}
.line--green {
}
.chefs__people {
    display: flex;

    gap: 30px;
    flex-wrap: wrap;
}
.chefs__person {
    flex: 1 1 350px;
    
}
.chef__person-main {
    display: flex;
    margin-bottom: 24px;
}
.chef__person-avatar {
    margin-right: 24px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
   
}

.chefs__person-info {
}
.chefs__person-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.225px;
    color: #FFFFFF;
    transition: all .3s;
}
.chefs__person:hover .chefs__person-name{
    color: #34C759;
    text-decoration: underline;
}
.chefs__person-profession {
    font-size: 12px;
}
.chef__person-photos {
    font-size: 0;

}
.chef__person-photo {
    max-width: 100%;
    

}
.chef__person-img{
    border-radius: 5px;
    height: 65px;
    object-fit: cover;
    transition: .5s;
}
.chef__person-img:hover{
    transform: scale(1.2);
}
.chef__person-photo:not(:last-child) {
    margin-right: 30px;
    max-width: 65px;
}
.chef__person-photo:first-child {
    max-width: 165px;
}


/* 
* Recipes
*/


.recipes {
    color: #FFFFFF;
    margin-bottom: 120px;
}
.recipes__container {
}
.container {
}
.recipes__title::after {
    content: 'Recipes From Our Chefs';
}
.recipes__title {
}
.title {
}
.recipes__line {
    margin: 0 auto;
    margin-bottom: 60px;
}
.line--green {
}
.recipes__content {
    display: flex;
    gap: 30px;

}
.recipes__main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    padding: 60px 90px;
    background-image: url(../img/recipes/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    transition: .5s;
}
.recipes__main-card:hover{
    transform: scale(1.05);
}
.recipes__card:hover{
    transform: scale(1.05);
}
.recipes__subtitle {
    display: inline-block;
    font-weight: 900;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    background: rgba(0, 0, 0, 0.3);
    mix-blend-mode: normal;
    padding: 10px 15px;

    margin-bottom: 65px;
}
.recipes__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 25px;
}
.recipes__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 45px;
}
.recipes__autor {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}
.recipes__box {
    display: flex;
    column-gap: 25px;
}
.box {
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    column-gap: 30px;
}
.box__view {
    position: relative;
    padding-left: 28px;
}
.box__view::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 25%;
    width: 22px;
    height: 16px;
    background-image: url(../img/icons/ic_remove_red_eye.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box__comments {
    position: relative;
    padding-left: 28px;
}
.box__comments::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 25%;
    width: 20px;
    height: 20px;
    background-image: url(../img/icons/ic_question_answer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.recipes__cards {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.recipes__card {
    
    background: #252525;
    background-image: url(../img/recipes/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 30px;
    transition: all .5s;
}


.recipes__card-text {
    margin-bottom: 10px;
}
.recipes__card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recipes__card-box {
    display: flex;
    align-items: center;
    gap: 25px;
}
.recipes__card-subtitle {
    font-weight: 900;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    background: rgba(0, 0, 0, 0.3);
    mix-blend-mode: normal;
    padding: 10px 15px;

}
.recipes__card-date {
}

.recipes__card:hover{
    background: #34C759;
}

.recipes__card:hover .recipes__card-subtitle{
    background: rgba(0, 0, 0, 1);
}
.recipes__card:hover .recipes__card-text, .recipes__card:hover .recipes__card-bottom {
    color: #252525;
}
.recipes__card:hover .recipes__card-subtitle{
    color: white;
}















/*
* Footer
*/



.footer{
    background: #252525;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer__container{
    text-align: center;
}
.footer__line{
    height: 2px;
    background: #303030;
    width: 100vw;
    margin-bottom: 30px;
}
.footer__main{
    margin-bottom: 30px;
}
.footer__text{
    font-size: 12px;
    line-height: 60px;
    color: #737373;
}




/*
* Media
*/



@media(max-width: 1200px){
    .dishes__cards {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(3, 1fr);
    }
    .dishes__card:hover{
        transform: scale(1);
    }
}

@media(max-width: 1000px){
    .recipes__content {
        flex-direction: column;
    }
    .recipes__main-card{
        max-width: 100%;
    }
}

@media(max-width: 860px){
    .work__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .food__title{
        font-size: 50px;
    }
    .food__text{
        font-size: 13px;
    }
    .food__btn {
        margin-bottom: 45px;
    }
    .food__card-text{
        font-size: 12px;
    }
    .food__card-title{
        font-size: 12px;
    }
    .title::after {
        font-size: 24px;
        line-height: 150%;
    }
    .title {
        font-size: 70px;
        line-height: 150%;
    }
    .dishes__cards {
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(6, 1fr);
    }
    .chefs__people{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .chefs__person {
        flex: 1 1 200px;
      }
    .about__slider{
        display: none;
    }
}


@media(max-width: 630px){
    .food__title{
        font-size: 40px;
        margin-bottom: 35px;
    }
    .food__card{
        height: 100%;
        flex: 1 1 50%;
    }
    .food__cards{
        flex-wrap: wrap;

    }
    .food__container{
        padding-top: 150px;
    }
    .btn--green{
        font-size: 13px;
        padding: 20px 35px;
    }
    .header__menu{
        display: none;
    }
    .about__main {
        padding-top: 40px;
        padding-bottom: 60px;

      }
    .chef__person-img:first-child {
        max-width: 65px;
    }
    .chef__person-photos{
        text-align: center;
    }
    .chef__person-photo:not(:last-child) {
        margin-right: 10px;
      }

}

@media(max-width: 460px){
    .food__title{
        font-size: 30px;
    }
    .title::after {
        font-size: 12px;
        line-height: 150%;
    }
    .title {
        font-size: 56px;
        line-height: 150%;
    }
    .recipes__card-date{
        font-size: 12px;
    }
    .recipes__card-bottom{
        flex-direction: column;
        gap: 25px;
    }
    .recipes__main-card{
        padding: 20px 40px;
    }
}
